/***** 0. General *****/

/* Colors */
$watermelon: #ff5345;
$orange: #ffb55a;
$peach: #fff6c2;
$leaf: #215a00;
$coal: #141011;
// https://colorpalettes.net/color-palette-3952/

/* Screen widths */
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

/*  Mixins */
@mixin button {
	display: inline-block;
	margin: 20px 0;
	padding: 10px;
	border: 2px solid transparent;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

/* Functions */
@function colWidth($cols) {
	@return 100 / $cols;
}

/* Elements */

* {
	color: #333;
	font-family: "Lato", sans-serif;
}

body {
	min-height: 100vh;
	position: relative;
}

.container {
	padding-top: 3rem;
	padding-bottom: 10rem;
	margin: 0 auto;
	width: 90%;
}
@media only screen and (min-width: $s) {
	.container {
		width: 75%;
		max-width: 1200px;
	}
}

#datetime {
	margin: 1rem;
	font-size: 0.8rem;
	float: right;
}

.form-field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	input,
	select,
	textarea {
		margin: 0.5rem;
		border-radius: 3px;
		padding: 5px;
		width: 80%;
	}

	@media only screen and (min-width: $m) {
		flex-direction: row;
		label {
			width: 25%;
		}
		input,
		select,
		textarea {
			width: 50%;
		}
	}
}

.button-okay {
	@include button;
	background-color: $leaf;
	&:hover {
		border: 2px solid $leaf;
		background-color: #fff;
		color: $leaf;
		transition: 0.4s all ease-in-out;
	}
}

.button-alert {
	@include button;
	background-color: $watermelon;
	&:hover {
		border: 2px solid $watermelon;
		background-color: #fff;
		color: $watermelon;
		transition: 0.4s all ease-in-out;
	}
}

.button-neutral {
	@include button;
	background-color: $coal;
	&:hover {
		border: 2px solid $coal;
		background-color: #fff;
		color: $coal;
		transition: 0.4s all ease-in-out;
	}
}

.button-invert {
	@include button;
	background-color: #fff;
	color: $coal;
	&:hover {
		border: 2px solid #fff;
		background-color: $coal;
		color: #fff;
		transition: 0.4s all ease-in-out;
	}
}

.button-inline {
	@include button;
	background-color: $orange;
	margin: 5px;
	padding: 5px 10px;
	&:hover {
		border: 2px solid $orange;
		background-color: #fff;
		color: $orange;
		transition: 0.4s all ease-in-out;
	}
}

.font-default {
	font-size: 1rem;
	font-family: inherit;
}

/***** 1. Navigation *****/

nav {
	width: 100%;
	background-color: #ffb55a;
	-webkit-box-shadow: 0px 1px 2px 0.5px #aaa;
	-moz-box-shadow: 0px 1px 2px 0.5px #aaa;
	box-shadow: 0px 1px 2px 0.5px #aaa;

	.logo-section {
		font-size: 2rem;
		text-align: center;
		padding: 1.5rem 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 3rem;
			margin-right: 0.5rem;
		}
		a {
			font-family: "Berkshire Swash", cursive;
			color: #fff;
			text-decoration: none;
		}
	}
}

/***** 2. Recipes page *****/

.search-container {
	background-color: #efefef;
	padding: 2rem;
}
.search {
	input {
		border-radius: 3px;
		padding: 5px;
		margin-left: 0.5rem;
	}
}

.search-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

table {
	width: 100%;
}

.table-recipes {
	border-collapse: collapse;
	th,
	td {
		width: colWidth(6) * 1%;
		padding: 5px;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
}

/***** 3. Show Recipe page *****/

.show-recipe {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 2rem;
	grid-template-areas:
		"header"
		"side"
		"main";

	.header {
		grid-area: header;
	}
	.side {
		grid-area: side;

		.side-entry {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 1rem 0;
		}
	}

	.main {
		grid-area: main;

		h3 {
			margin: 1rem 0;
		}
	}
}
@media only screen and (min-width: $m) {
	.show-recipe {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		grid-template-areas:
			"header header"
			"side main";
	}
}

/***** 4. Add Recipe page *****/

.button-row {
	display: flex;
	justify-content: space-around;
}

/***** 5. Footer *****/

footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	//	height: 3rem;
	background-color: $coal;
	font-size: 0.8rem;
	padding: 2rem 0;
	p {
		color: #fff;
		text-align: center;
		line-height: 2;
	}
	a {
		color: $watermelon;
		text-decoration: none;
	}
}

/***** Login *****/
