/***** 0. General *****/
/* Colors */
/* Screen widths */
/*  Mixins */
/* Functions */
/* Elements */
* {
  color: #333;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}

.container {
  padding-top: 3rem;
  padding-bottom: 10rem;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 75%;
    max-width: 1200px;
  }
}
#datetime {
  margin: 1rem;
  font-size: 0.8rem;
  float: right;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-field input,
.form-field select,
.form-field textarea {
  margin: 0.5rem;
  border-radius: 3px;
  padding: 5px;
  width: 80%;
}
@media only screen and (min-width: 768px) {
  .form-field {
    flex-direction: row;
  }
  .form-field label {
    width: 25%;
  }
  .form-field input,
.form-field select,
.form-field textarea {
    width: 50%;
  }
}

.button-signout {
  position: absolute;
  right: 20px;
  top: 20px;
}
.button-signout input {
  border: 1px solid transparent;
  color: #fff;
  background-color: inherit;
  cursor: pointer;
  font-size: 1rem;
}
.button-signout input:hover {
  color: #215a00;
}

.button-okay {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #215a00;
}
.button-okay:hover {
  border: 2px solid #215a00;
  background-color: #fff;
  color: #215a00;
  transition: 0.4s all ease-in-out;
}

.button-alert {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #ff5345;
}
.button-alert:hover {
  border: 2px solid #ff5345;
  background-color: #fff;
  color: #ff5345;
  transition: 0.4s all ease-in-out;
}

.button-neutral {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #141011;
}
.button-neutral:hover {
  border: 2px solid #141011;
  background-color: #fff;
  color: #141011;
  transition: 0.4s all ease-in-out;
}

.button-invert {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  color: #141011;
}
.button-invert:hover {
  border: 2px solid #fff;
  background-color: #141011;
  color: #fff;
  transition: 0.4s all ease-in-out;
}

.button-inline {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffb55a;
  margin: 5px;
  padding: 5px 10px;
}
.button-inline:hover {
  border: 2px solid #ffb55a;
  background-color: #fff;
  color: #ffb55a;
  transition: 0.4s all ease-in-out;
}

.font-default {
  font-size: 1rem;
  font-family: inherit;
}

/***** 1. Navigation *****/
nav {
  width: 100%;
  background-color: #ffb55a;
  -webkit-box-shadow: 0px 1px 2px 0.5px #aaa;
  -moz-box-shadow: 0px 1px 2px 0.5px #aaa;
  box-shadow: 0px 1px 2px 0.5px #aaa;
}
nav .logo-section {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo-section img {
  max-height: 3rem;
  margin-right: 0.5rem;
}
nav .logo-section a {
  font-family: "Berkshire Swash", cursive;
  color: #fff;
  text-decoration: none;
}

/***** 2. Recipes page *****/
.search-container {
  background-color: #efefef;
  padding: 2rem;
}

.search input {
  border-radius: 3px;
  padding: 5px;
  margin-left: 0.5rem;
}

.search-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

table {
  width: 100%;
}

.table-recipes {
  border-collapse: collapse;
}
.table-recipes th,
.table-recipes td {
  width: 16.6666666667%;
  padding: 5px;
}
.table-recipes tr:nth-child(even) {
  background-color: #f2f2f2;
}

/***** 3. Show Recipe page *****/
.show-recipe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas: "header" "side" "main";
}
.show-recipe .header {
  grid-area: header;
}
.show-recipe .side {
  grid-area: side;
}
.show-recipe .side .side-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.show-recipe .main {
  grid-area: main;
}
.show-recipe .main h3 {
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .show-recipe {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
    grid-template-areas: "header header" "side main";
  }
}
/***** 4. Add Recipe page *****/
.button-row {
  display: flex;
  justify-content: space-around;
}

/***** 5. Footer *****/
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #141011;
  font-size: 0.8rem;
  padding: 2rem 0;
}
footer p {
  color: #fff;
  text-align: center;
  line-height: 2;
}
footer a {
  color: #ff5345;
  text-decoration: none;
}

/***** 6. Signup *****/
h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.form-error {
  color: red;
  font-style: italic;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-buttons a {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .form-buttons {
    flex-direction: row;
  }
}

/***** 7. Frontpage *****/
.welcome-user {
  text-align: center;
  margin-bottom: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.card-grid .product-card {
  background-color: #ffb55a;
  color: #fff;
  width: 300px;
  position: relative;
  justify-items: center;
  text-align: center;
}

.product-card h4 {
  font-size: 2rem;
  padding: 10px;
}

.product-card p {
  padding: 10px;
}

.button-card {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  color: #ffb55a;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 10px 20px;
  margin-bottom: 2rem;
}
.button-card a {
  color: orange;
  text-decoration: none;
}
.button-card a:hover {
  color: #fff;
}
.button-card:hover {
  background-color: #ffb55a;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
