<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>Yummy! Sisäänkirjautuminen</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
		<link
			href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header>
			<nav>
				<div class="logo-section">
					<img src="/images/logo.png" />
					<a href="">Yummy! -reseptit</a>
				</div>
			</nav>
		</header>
		<div><span id="datetime"></span></div>

		<div class="container">
			<div>
				<div class="alert alert-danger" th:if="${param.error}">
					Väärä käyttäjätunnus ja/tai salasana.
				</div>

				<div class="alert alert-success" th:if="${param.logout}">
					Uloskirjautuminen onnistui.
				</div>

				<form th:action="@{/login}" method="post">
					<div class="form-field">
						<label for="username"> Käyttäjätunnus: </label
						><input type="text" name="username" class="form-control" />
					</div>
					<div class="form-field">
						<label for="password"> Salasana: </label
						><input type="password" name="password" class="form-control" />
					</div>
					<div>
						<input
							type="submit"
							value="Kirjaudu sisään"
							class="button-okay font-default"
						/>
					</div>
				</form>
				<a th:href="@{/signup}" class="button-invert">Uusi käyttäjä?</a>
			</div>
		</div>
		<script>
			var dt = new Date();
			document.getElementById("datetime").innerHTML =
				("0" + dt.getDate()).slice(-2) +
				"." +
				("0" + (dt.getMonth() + 1)).slice(-2) +
				"." +
				dt.getFullYear() +
				" " +
				("0" + dt.getHours()).slice(-2) +
				":" +
				("0" + dt.getMinutes()).slice(-2);
		</script>
	</body>
</html>
