<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Yummy!</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<!-- <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> -->
		<link rel="stylesheet" href="../../../../public/stylesheets/reset.css" />
		<link rel="stylesheet" href="../../../../public/stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header>
			<nav>
				<div class="logo-section">
					<img src="../../../../public/images/logo.png" />
					<a href="">Yummy! -reseptit</a>
				</div>
			</nav>
		</header>
		<div><span id="datetime"></span></div>
		<div class="container">
			<a href="/addrecipe" class="button-okay">Lisää uusi resepti</a>

			<table class="table-recipes">
				<thead>
					<tr>
						<th>Reseptin nimi</th>
						<th>Valmistusaika minuutteina</th>
						<th>Ruokavalio</th>
						<th>Pääraaka-aine</th>
						<th>Reseptin lisännyt</th>
						<th>Näytä reseptin tiedot</th>
					</tr>
				</thead>

				<tr align="center" th:each="recipe : ${recipes}">
					<td th:text="${recipe.name}"></td>
					<td th:text="${recipe.preparation}"></td>
					<td th:text="${recipe.regimen.name}"></td>
					<td th:text="${recipe.main.name}"></td>
					<td th:text="${recipe.createdby}"></td>
					<td>
						<a
							th:href="@{/showrecipe/{id}(id=${recipe.id})}"
							class="button-inline"
							>Avaa</a
						>
					</td>
				</tr>
			</table>
		</div>
		<footer>
			<div>
				<p>
					Logo made by
					<a href="https://www.flaticon.com/authors/good-ware" title="Good Ware"
						>Good Ware</a
					>
					from
					<a href="https://www.flaticon.com/" title="Flaticon"
						>www.flaticon.com</a
					>
				</p>
			</div>
		</footer>
		<script>
			var dt = new Date();
			document.getElementById("datetime").innerHTML =
				("0" + dt.getDate()).slice(-2) +
				"." +
				("0" + (dt.getMonth() + 1)).slice(-2) +
				"." +
				dt.getFullYear() +
				" " +
				("0" + dt.getHours()).slice(-2) +
				":" +
				("0" + dt.getMinutes()).slice(-2);
		</script>
	</body>
</html>
