<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Yummy!</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
		<!-- <link rel="stylesheet" href="../../../../public/stylesheets/reset.css" /> -->
		<!-- <link rel="stylesheet" href="../../../../public/stylesheets/style.css" /> -->
		<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap" rel="stylesheet"/>
	</head>

	<body>
		<header>
			<nav>
				<div class="logo-section">
					<img src="/images/logo.png" />
					<a href="">Yummy! -reseptit</a>
				</div>
			</nav>
		</header>
		<div><span id="datetime"></span></div>
		
		<div style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-warning" sec:authorize="isAuthenticated()"/>
			</form>
		</div>
		
		<div class="container">
			<div class="search-container">
				<form class="search" method="POST">
					<div class="form-field">
						<label for="search">Hae reseptiä: </label>
						<input name="search" type="text" />
					</div>

					<!-- <div id="advanced" style="display: none;">
						<div class="form-field">
							<label for="regimens">Ruokavalio</label>
							<select id="regimens" th:field="*{regimen}" class="form-control">
								<option
									th:each="regimen: ${regimens}"
									th:value="${regimen.rid}"
									th:text="${regimen.name}"
								></option>
							</select>
						</div>
						<div class="form-field">
							<label for="mains">Pääraaka-aine</label>
							<select id="mains" th:field="*{main}" class="form-control">
								<option
									th:each="main: ${mains}"
									th:value="${main.mid}"
									th:text="${main.name}"
								></option>
							</select>
						</div>
						<div class="form-field">
							<label for="duration">Maksimikesto (minuutteina)</label>
							<input
								type="range"
								id="duration"
								name="duration"
								min="0"
								max="250"
							/>
						</div>
					</div>
					<!-- <div class="search-buttons"> -->
					<a href="#" onclick="advancedSearch()"> Tarkennettu haku </a>
					<input
						type="submit"
						class="button-neutral font-default"
						value="Hae"
					/>
					<!-- </div> -->
				</form>
			</div>

			<a href="/addrecipe" class="button-okay">Lisää uusi resepti</a>

			<table class="table-recipes">
				<thead>
					<tr>
						<th>Reseptin nimi</th>
						<th>Valmistusaika minuutteina</th>
						<th>Ruokavalio</th>
						<th>Pääraaka-aine</th>
						<th>Reseptin lisännyt</th>
						<th>Näytä reseptin tiedot</th>
					</tr>
				</thead>

				<tr align="center" th:each="recipe : ${recipes}">
					<td th:text="${recipe.name}"></td>
					<td th:text="${recipe.preparation}"></td>
					<td th:text="${recipe.regimen.name}"></td>
					<td th:text="${recipe.main.name}"></td>
					<td th:text="${recipe.createdby}"></td>
					<td>
						<a th:href="@{/showrecipe/{id}(id=${recipe.id})}" class="button-inline">Avaa</a>
					</td>
				</tr>
			</table>
		</div>
		<footer>
			<div>
				<p>@ 2020 Marko Airisto & Ulla Taponen</p>
				<p>
					Logo made by
					<a href="https://www.flaticon.com/authors/good-ware" title="Good Ware"
						>Good Ware</a
					>
					from
					<a href="https://www.flaticon.com/" title="Flaticon"
						>www.flaticon.com</a
					>
				</p>
			</div>
		</footer>
		<script>
			var dt = new Date();
			document.getElementById("datetime").innerHTML =
				("0" + dt.getDate()).slice(-2) +
				"." +
				("0" + (dt.getMonth() + 1)).slice(-2) +
				"." +
				dt.getFullYear() +
				" " +
				("0" + dt.getHours()).slice(-2) +
				":" +
				("0" + dt.getMinutes()).slice(-2);
		</script>
		<script>
			function advancedSearch() {
				let div = document.getElementById("advanced");
				if (div.style.display === "none") {
					div.style.display = "block";
				} else {
					div.style.display = "none";
				}
			}
		</script>
	</body>
</html>
