<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>Yummy! Käyttäjätunnuksen luonti</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
		<link
			href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header>
			<nav>
				<div class="logo-section">
					<img src="/images/logo.png" />
					<a href="">Yummy! -reseptit</a>
				</div>
			</nav>
		</header>
		<div><span id="datetime"></span></div>
		<div class="container">
			<div class="col">
				<h1>Luo Yummy!-käyttäjätunnus</h1>
			</div>
			<div>
				<form
					th:object="${registernewuser}"
					th:action="@{/saveuser}"
					action="#"
					method="post"
				>
					<div class="form-field">
						<label for="username">Käyttäjätunnus:</label
						><input
							type="text"
							name="username"
							th:field="*{username}"
							class="form-control"
						/>
						<span
							class="form-error"
							th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"
						>
							Username Error
						</span>
					</div>

					<div class="form-field">
						<label for="firstname">Etunimi:</label
						><input
							type="text"
							name="firstname"
							th:field="*{firstname}"
							class="form-control"
						/>
					</div>

					<div class="form-field">
						<label for="lastname">Sukunimi:</label
						><input
							type="text"
							name="lastname"
							th:field="*{lastname}"
							class="form-control"
						/>
					</div>

					<div class="form-field">
						<label for="pw1">Anna salasana:</label
						><input
							type="password"
							name="pw1"
							th:field="*{password}"
							class="form-control"
						/>
						<span
							class="form-error"
							th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"
						>
							Password Error
						</span>
					</div>

					<div class="form-field">
						<label for="pw2">Anna salasana uudelleen:</label
						><input
							type="password"
							name="pw2"
							th:field="*{passwordCheck}"
							class="form-control"
						/>
						<span
							class="form-error"
							th:if="${#fields.hasErrors('passwordCheck')}"
							th:errors="*{passwordCheck}"
						>
							Password Match Error
						</span>
					</div>

					<div class="form-field" id="list">
						<label>Käyttäjärooli: </label>
						<select th:field="*{role}">
							<option th:value="'user'" th:text="User"></option>
							<option th:value="'admin'" th:text="Admin"></option>
						</select>
					</div>
					<div class="form-buttons">
						<input
							type="submit"
							class="button-okay font-default"
							value="Luo käyttäjätunnus"
						/>
						<a href="/login" class="button-alert"
							>Keskeytä uuden käyttäjätunnuksen luominen</a
						>
					</div>
				</form>
			</div>
		</div>
		<footer>
			<div>
				<p>@ 2020 Marko Airisto & Ulla Taponen</p>
				<p>
					Logo made by
					<a href="https://www.flaticon.com/authors/good-ware" title="Good Ware"
						>Good Ware</a
					>
					from
					<a href="https://www.flaticon.com/" title="Flaticon"
						>www.flaticon.com</a
					>
				</p>
			</div>
		</footer>
		<script>
			var dt = new Date();
			document.getElementById("datetime").innerHTML =
				("0" + dt.getDate()).slice(-2) +
				"." +
				("0" + (dt.getMonth() + 1)).slice(-2) +
				"." +
				dt.getFullYear() +
				" " +
				("0" + dt.getHours()).slice(-2) +
				":" +
				("0" + dt.getMinutes()).slice(-2);
		</script>
	</body>
</html>
